*{
    box-sizing: border-box;
}

/* fonts */

/* @font-face {
    font-family: 'IMPACT-1';
    src:url(/fonts/unicode.impact.ttf);
} */

body {
    margin:0;
}

/* layout */
.main-layout {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}


/* basic */

img {
    max-width: 100%;
    object-fit: cover;
}

button {
    background-color: transparent;
    border-color: transparent;
    cursor: pointer;
}


/* header */

.main-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    background-color: #363047;
    color: #FFFFFF;
    line-height: 5em;
    width: 100%;
}

/* main nav */

.logo {
    background-image: url(../img/LOGO/LOGO.png);
    width: 100px;
    height: 5em;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    text-align: center;
    margin-left: 15px;
}

.main-nav a {
    color: white;
    letter-spacing: 0.1em;
    text-align: center;
    margin-right: 5em;
    cursor: pointer;

}

/* gallery-page */

.grid-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 200px));
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    gap: 10px;
    justify-content: center;
    margin: 30px 0;
}

.grid-gallery img {
    cursor: pointer;
}


/* editor-page */

.editor-container {
    width: 90%;
    display: flex;
    flex-direction: row;
    gap: 10px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: lightgray;
    border: 7px rgba(13, 45, 51, 0.842) double;
    flex-basis: 100%;


}
.canvas {
    background-color: rgb(70, 102, 91);
    flex-basis: 50%;  
}

.editor {
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
}

.text-input {
    width:90%;
    height:10%;
    margin-top:10px;
}

.edit-btns {
    width:90%;
    height:10%;
    margin-top:10px;
    line-height: 2rem;
}

.color-input {
    width: 2rem;
}

.back-btn {
    border:rgb(70, 102, 91) solid 2px;
    border-radius: 3em;
    background-color: rgb(108, 129, 122);
}





/* footer */
.main-footer {
    display: flex;
    flex-direction: row;
    justify-content: center;

    background-color: #363047;
    color: #FFFFFF;
    width: 100%;

    position:fixed;
    bottom: 0%;
}


@media (max-width: 600px) {
    /* body {
        padding: 0 15px;
    }
    .main-layout {
      max-width: 900px;
    } */

    .editor-container {
        flex-direction: column;
    }

    .canvas {
        max-width: 100%;  
    }
}